<%= form_with(
  model: one_pager,
  url: one_pager_path,
  data: { controller: "one-pager-theme" },
  class: "p-10 card bg-base-200") do |form| %>

  <div class="grid grid-cols-1 gap-4 rounded-box sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3">
    <% OnePagers::THEMES.each do |theme| %>
      <label class="<%= one_pager.theme == theme ? 'outline' : '' %> border-base-content/20 hover:border-base-content/40 overflow-hidden rounded-lg border outline-2 outline-offset-2" data-set-theme="<%= theme %>" data-act-class="outline" data-one-pager-theme-target="label" <%= one_pager.theme == theme ? 'data-one-pager-theme-class="outline"' : '' %>>
        <%= form.radio_button :theme, theme, id: "theme_#{theme}", class: "hidden", data: { action: "change->one-pager-theme#change" } %>
        <div data-theme="<%= theme %>" class="w-full font-sans cursor-pointer bg-base-100 text-base-content">
          <div class="grid grid-cols-5 grid-rows-3">
            <div class="col-start-1 row-span-2 row-start-1 bg-base-200"></div>
            <div class="col-start-1 row-start-3 bg-base-300"></div>
            <div class="flex flex-col col-span-4 col-start-2 row-span-3 row-start-1 gap-1 p-2 bg-base-100">
              <div class="font-bold"><%= theme %></div>
              <div class="flex flex-wrap gap-1">
                <div class="flex items-center justify-center w-5 rounded bg-primary aspect-square lg:w-6">
                  <div class="text-sm font-bold text-primary-content">A</div>
                </div>
                <div class="flex items-center justify-center w-5 rounded bg-secondary aspect-square lg:w-6">
                  <div class="text-sm font-bold text-secondary-content">A</div>
                </div>
                <div class="flex items-center justify-center w-5 rounded bg-accent aspect-square lg:w-6">
                  <div class="text-sm font-bold text-accent-content">A</div>
                </div>
                <div class="flex items-center justify-center w-5 rounded bg-neutral aspect-square lg:w-6">
                  <div class="text-sm font-bold text-neutral-content">A</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </label>
    <% end %>
  </div>
<% end %>
