<%= turbo_frame_tag dom_id(link) do %>
  <p>Displayed name: <%= link.name %></p>
  <p>URL: <%= link.url %></p>

  <%= link_to "Edit", edit_one_pager_link_path(one_pager, link), class: "btn", data: { turbo_stream: true } %>
  <%= button_to "Delete",
    one_pager_link_path(one_pager, link),
    method: :delete,
    class: "btn",
    remote: true %>

  <div class="divider"></div> 
<% end %>